.button-sgm-primary{
    background-color: #02071a !important;
    color: white !important;
    border-radius: 20px !important;
}

.button-sgm-second{
    background-color: #0025dd !important;
    color: white !important;
    border-radius: 20px !important;
}